<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="refresh" content="10">
    <link href="https://bootswatch.com/cyborg/bootstrap.min.css"
          rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
    /* set a max-width for horizontal fluid layout and make it centered */
    .container {
      margin-right: auto;
      margin-left: auto;
      max-width: 480px;
    }
    .videoInsert {
    width: 100% !important;
    height: auto !important;
    }
    </style>
  </head>
  <body>
    <div class="container black text-center" style="background-color: black">
      <img src="https://68.media.tumblr.com/75882084d3402d182d8faaae40da33be/tumblr_inline_nmlo4mcICW1qbogyy_500.gif" /> 
    </div>
  </body>
</html>
 
